.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContentLogin{
    display: flex;
    flex-direction: column;
    position: relative;
}

.hyperLinkContainer{
    display: flex;
    gap: 10px;
    color: #fff;
}

.hyperLink{
    color: #fff;
}

.hyperLink:hover{
    color: #09fca7;
}

.alertLogin {
    color: red;
    font-size: 12px;
    position: absolute;
    white-space: nowrap;
    top: 50px;
}

@media screen and (max-width: 768px) {
    .formLogin{
        width: 40vh;
    }

    .buttonLogin {
        background-color: #09fca7;
        color: #000000;
        font-weight: bold;
    }

    .hyperLink{
        color: #09fca7;
    }
}