.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 70vh;
    gap: 30px;
    padding: 30px;
    position: relative;
}

.inputLogin {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
    background: radial-gradient(circle, #072746 29%, #06071B 100%);
    color: #fff;
}

.inputLogin:hover{
    border: 2px solid #09fca7;
    border-radius: 5px;
}

.buttonLogin {
    padding: 10px;
    border: 2px solid #09fca7;
    border-radius: 5px;
    background-color: #06071b;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.buttonLogin:hover {
    background-color: #09fca7;
    color: #000000;
    font-weight: bold;
}

.hyperLinkContainer{
    display: flex;
    gap: 10px;
    color: #fff;
}

.hyperLink{
    color: #fff;
}

.hyperLink:hover{
    color: #09fca7;
}

.alertLogin {
    color: red;
    font-size: 12px;
    position: absolute;
    white-space: nowrap;
}

.alertUserNameLogin{
    top: 92px;
}

.alertPasswordLogin{
    top: 180px;
}

@media screen and (max-width: 768px) {
    .formLogin{
        width: 40vh;
    }

    .buttonLogin {
        background-color: #09fca7;
        color: #000000;
        font-weight: bold;
    }

    .hyperLink{
        color: #09fca7;
    }
}