.containerLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formLogin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 50vh;
    padding: 50px;
}

.inputLogin {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttonLogin {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.buttonLogin:hover {
    background-color: #0056b3;
}