.containerLogin {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formLogin {
    display: flex;
    flex-direction: column;
    width: 50vh;
    gap: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
}

.inputLogin {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buttonLogin {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

.buttonLogin:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .formLogin{
        width: 40vh;
    }
}