.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #06071b;
  position: fixed !important;
  width: 100%;
  z-index: 10;
  top: 0;
}

.navbarLogo img {
  margin-left: 35px;
  height: 50px;
}

.navbarBuscar {
  position: relative;
  width: 600px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 108px;
}

.buscarInputWrapper {
  position: relative;
  background: radial-gradient(circle, #072746 29%, #06071b 100%);
  border: 2px solid white;
  border-radius: 10px;
  display: flex;

}

.navbarBuscar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: white;
  outline: none; 
} 

.lupaWrapper {
  display: flex;
  align-items: center;
}
.lupa {
  width: 20px;
  height: auto;
  margin-right: 1px;
  margin-left: 15px;
}

.ingresarButton {
  margin-right: 20px;
}

.ingresarButton:hover {
  background-color: #09fca7;
  color: #000000;
  font-weight: bold;
}
