.contenidoWatchVideo{
    margin: 90px;
    display: flex;
    justify-content: space-between;
}

.playVideo{
    width: 65%;
}

.listAllVideosPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
}