@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #2c2f3f;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #09fca7;
    border-radius: 10px;
    border: 3px solid #2c2f3f;
}

*::-webkit-scrollbar-thumb:hover {
    background: #06c5a1;
}

.logoNoCountry {
    margin: 10px;
}

@media screen and (max-width: 768px) {
    *::-webkit-scrollbar {
        display: none;
    }
}